* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
body {
  background-color: #111;
  color: #f1f1f1;
  font-family: "sego UI", sans-serif;
}

.contact-section {
  padding: 80px 20px;
  background-color: #111;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.section-title {
  font-size: 2.5rem;
  color: #00bcd4;
  text-align: center;
  margin-bottom: 10px;
}

.section-description {
  text-align: center;
  color: #aaa;
  margin-bottom: 40px;
}

.contact-contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
}

.contact-info {
  flex: 1;
  min-width: 280px;
}

.contact-info p {
  margin-bottom: 15px;
  color: #ddd;
}
.contact-info p i {
  margin-right: 1rem;
}
.contact-socials {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.contact-socials a {
  display: inline-flex;
  align-items: center;
  margin-right: 1rem;
  color: #cccccc;
  font-size: 1.1rem;
  text-decoration: none;
  transition: color 0.3s ease transform 0.3s ease;
}
.contact-socials a i {
  margin-right: 10px;
  font-size: 1.2rem;
  color: #00bcd4;
}

.contact-socials a:hover {
  color: #ffffff;
  transform: translateX(4px);
}
.contact-socials a:hover i {
  color: #1de9b6;
}

.contact-form {
  flex: 1;
  min-width: 280px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.contact-form input,
.contact-form textarea {
  background-color: #222;
  color: #f1f1f1;
  border: 1px solid #333;
  padding: 12px;
  border-radius: 5px;
  font-size: 1rem;
  resize: none;
}

.contact-form button {
  padding: 12px;
  border: none;
  background-color: #00bcd4;
  color: #111;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.contact-form button:hover {
  background-color: #0097a7;
}


